@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

           

body{
    height: 100vh;
    margin: 0;
    font-family: 'poppins', sans-serif;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;

}

a{
    text-decoration: none;

}
img{
    width: 100%;
}

.nav-container{
    background-color: #6700EE ;

    a{
        color: white;

    }
}

header{
    display:flex;
    justify-content: space-between;
    padding: 2em;
    font-size: .85em;
    
    .logo{
        color: #00f7ff;
        font-weight: bold;
    }

    ul{
    display: flex;

    a{
        display: block;
        padding: 0 1em;
        }
    }

}

.social-header, .hero-design{
    display: none;
}

.hero{
    background-color: #6e00ff;
    color: white;
    display: grid;
    text-align: center;
    padding: 4em;
    
}

.meet{
    display: flex;
    // justify-content: center;
    margin: 0 auto;
    width: 200px;
    font-weight: bold;
    color: #ff64cb;

}

.scroll{
    width: 30px;
    margin-top: 2em ;
}

section{
    padding: 4em 2em;
    text-align: center;
}

.featured{
     position: relative;

}
.right {
    transition: 0.3s;
  }
  
.right:hover {
    transform: scale(1.1);
  }            
.featured::before{
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #e5d5fa;
    top: 0;
    left: 0;
    z-index: -1;
}

.subtitle{
    text-transform: uppercase;
    font-weight: bold;
    color: #6e00ff ;
    letter-spacing: .2em;
    font-size: .85em;
}

.featured-title{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1.3em;
    margin-top: -.4em;
    display: block;
}

.featured-desc{
    color: #252525;
    margin-bottom: 3em;
    font-size: 1em;
    line-height: 1.8em;
    font-weight: 500;
}

    
.skills{
    background: #ff64cb; 

}

.skills-container ul li {
    background: white;
    padding: 2em 1em 2em 1em;
    border-radius: 1em;
    margin-bottom: 1em;

    .icon-container{
        height: 100px;
        display: grid;
        place-content: center;
        margin: 0 auto;

        &.one{
            width: 100px;
        }
        &.two{
            width: 100px;
            
        }
        &.three{
            width: 100px;
            
        }
    }

    .skill-title{
        font-weight: bold;
    }
    .featured-desc{
        margin-bottom: 2em;
    }
}

.portfolio{
    background: #ffffff;

}

.portfolio-container a img{
    border-radius: 1em;
    margin-bottom: 5em;
}

.footer{
    
    background: #6700EE ;
    padding: 3em 2em 1.2em 2em;
    height: 1em;
    
    img{
        width: 125px;
        float: right;
        margin-top: -5em;
        margin-right: -2em;

        

    }
    .footertext1{
        display: flex;
        font-size: 11px;
        justify-content: left;
        
        margin: -2.7em 2em 0.5em 1em;
        color: white;
    }
    .footertext2{
        display: flex;
        font-size: 11px;
        justify-content: left;
        
        margin: -0.5em 2em 0.5em 1em;
        // margin: 0.5em 2em 0.5em 2em;
        color: white;
    }
    .footertext3{
        display: flex;
        // flex-direction: column;
        justify-content: left;
        font-size: 11px;
        // align-items: center;
       
        margin: -0.5em 2em 0.5em 1em;
        color: white;
        text-decoration: none;
    }
    
}

.container12 {
	// width: 100%;
	// height: 100%;
    margin-left: -2em;
	display: flex;
	align-items: center;
	justify-content: center;
}

.field {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 300px;
}

.scroll {
	width: 60px;
	height: 60px;
	border: 3px solid rgb(255, 255, 255);
	border-radius: 50%;
	position: relative;
	animation: down 1.5s infinite;
	-webkit-animation: down 1.5s infinite;
	&::before {
		content: '';
		position: absolute;
		top: 15px;
		left: 18px;
		width: 18px;
		height: 18px;
		border-left: 3px solid rgb(255, 255, 255);
  	border-bottom: 3px solid rgb(255, 255, 255);
		transform: rotate(-45deg);
	}
}

@keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

@-webkit-keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}



@keyframes scroll {
	0% {
		height: 40px;
	}
	30% {
		height: 70px;
	}
	60% {
		height: 40px;
	}
}

@-webkit-keyframes scroll {
	0% {
		height: 40px;
	}
	30% {
		height: 70px;
	}
	60% {
		height: 40px;
	}
}



@media only screen and (min-width:800px){
    
    
    .featured, .portfolio{
        text-align: left;
    }

    .featured, .portfolio-container{
        display: grid;
        grid-template-columns: 40% auto;
    }

    .left, .portfolio-left{
        display: grid;
        place-content: center;
    }

    .right{
        margin-left: 2em;
        margin-top: 1em;
    }

    .skills{
        // margin-top: -5em;
        margin-bottom: -4em;
        padding: 4em 8em 8em 7em;
    }
    .skills-container ul{
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 2em;
    }
    .portfolio{
        padding-top: 5em;
    }
    .portfolio-container img{
        margin-left: 2em;
    }
    .footer{
    
        background: #6700EE ;
        padding: 3em 2em 2em 2em;
        height: 3em;
        
        img{
            width: 170px;
            float: right;
            margin-top: -5em;
            margin-right: -2em;
    
            
    
        }
        .footertext1{
            display: flex;
            font-size: 15px;
            justify-content: left;
            
            margin: 0em 2em 0.5em 2em;
            color: white;
        }
        .footertext2{
            display: flex;
            font-size: 15px;
            justify-content: left;
            
            font-size: 15px;
            margin: 0em 2em 0.5em 2em;
            color: white;
        }
        .footertext3{
            display: flex;
            flex-direction: column;
            justify-content: left;
            font-size: 15px;
            // align-items: center;
            
            margin: -4em 0em 4em 8em;
            color: white;
            text-decoration: none;
        }
    }
}

@media only screen and (min-width:1050px) {
    .hero{
        height: 85vh;
    }

    .nav-container{
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;

        header{
            background: #6700EE ;

        }
    }
    header{
        padding: 2.4em 2em 2em 4em;

        .logo{
            padding: 0em 0em 0em 8em;
        }
    }
    .social-header{
        padding: 2em 4em 2em 0;
    }
    section{
        padding: 4em;
    }

    .social-header{
        display: block;

        ul{
            display: flex;
            justify-content: space-between;
            width: 10em;
            float: right;

            img{
                width: 30px;
            }
        }
    }
    .hero{
        display: grid;
        grid-template-columns: 66% auto;    
        background: unset;
        padding: 0;
        
        .content{
            background: #6e00ff;
            padding: 6em 8em 6em 4em;
            // margin-bottom: 20px;
            text-align: left;

            p{
                font-size: 22px;
                margin-right: -100px;
               
            }

            h1{
                line-height: 1.2em;
                font-size: 3em;
            }
        }
    }
    .meet{
        margin: unset;
    }
    .hero-design{
        display: unset;
        margin-left: -60%;
        margin-top: 15%;
        width: 120%;
    }
    
    .container12 {
        // width: 100%;
        // height: 100%;
        margin-left: -2em;
        display: flex;
        align-items: left;
        justify-content: left;
    }
    .field {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 120px;
    }

    .featured{
        margin-top: 5em;
    }
    .portfolio img{
        float: right;
        max-width: 500px;

    }
    .right{
        margin-top: 2em;
    }
    .footer{
    
        background: #6700EE ;
        padding: 3em 2em 3em 2em;
        height: 4em;
        
        img{
            width: 200px;
            float: right;
            margin-top: -5em;
            margin-right: -2em;
    
            
    
        }
        .footertext1{
            display: flex;
            font-size: 15px;
            justify-content: left;
            // padding-left: 17em;
            margin: 0.7em 2em 0.5em 2em;
            color: white;
        }
        .footertext2{
            display: flex;
            font-size: 15px;
            justify-content: left;
            // padding-left: 17em;
            font-size: 15px;
            margin: 0.5em 2em 0.5em 2em;
            color: white;
        }
        .footertext3{
            display: flex;
            flex-direction: column;
            justify-content: left;
            font-size: 15px;
            // align-items: center;
            // padding-left: 17em;
            margin: -4em 2em 1em 2em;
            color: white;
            text-decoration: none;
        }
        
    }
}

@media only screen and (min-width: 1250px){
    .header{
        padding: 2em 2em 2em 10em;
    }
    .social-header{
        padding: 2em 2em 2em 0;
    }
    section{
        padding: 10em 10em 4em 10em
    }
    .hero .content{
        padding: 6em 8em 6em 10em;
    }
    
    .footertext1{
        display: flex;
        font-size: 15px;
        justify-content: left;
        padding-left: 7em;
        margin: 0.7em 2em 0.5em 2em;
        color: white;
    }
    .footertext2{
        display: flex;
        font-size: 15px;
        justify-content: left;
        padding-left: 7em;
        font-size: 15px;
        margin: 0.5em 2em 0.5em 2em;
        color: white;
    }
    .footertext3{
        display: flex;
        flex-direction: column;
        justify-content: left;
        font-size: 15px;
        // align-items: center;
        padding-left:7em;
        margin: -4em 2em 1em 2em;
        color: white;
        text-decoration: none;
    }
}

@media only screen and (min-width: 1550px){
    .header{
        padding: 2em 2em 2em 20em;
    }
    .social-header{
        padding: 2em 20em 2em 0;
    }
    section{
        padding: 6em 20em 4em 20em
    }
    .hero .content{
        padding: 9em 20em 6em 20em;
    }
    .featured{
        
        .right{
            margin: 1em 0em 1em 2em;
        }
    }
    .skills-container{
        margin: 0 5em 0 5em;
    }
    header{
        padding: 2.4em 2em 2em 4em;

        .logo{
            padding: 0em 0em 0em 20em;
        }
    }
    .footer{
        
        background: #6700EE ;
        padding: 3em 2em 5em 2em;
        height: 4.5em;
        
        img{
            width: 250px;
            float: right;
            margin-top: -5em;
            margin-right: -2em;
    
            
    
        }
        
        .footertext1{
            display: flex;
            font-size: 15px;
            justify-content: left;
            padding-left: 17em;
            margin: 0.7em 2em 0.5em 2em;
            color: white;
        }
        .footertext2{
            display: flex;
            font-size: 15px;
            justify-content: left;
            padding-left: 17em;
            font-size: 15px;
            margin: 0.5em 2em 0.5em 2em;
            color: white;
        }
        .footertext3{
            display: flex;
            flex-direction: column;
            justify-content: left;
            font-size: 15px;
            // align-items: center;
            padding-left: 17em;
            margin: -4em 2em 1em 2em;
            color: white;
            text-decoration: none;
        }
    }
}

.circle{
    animation: circleanim 1s infinite alternate-reverse ;

}

// @keyframes circleanim {
//     from {
//         transform: translate(100px,100px);
//         z-index:5
//     }
//     to{
//         transform: translate(262px, 830px);
//     }
// }

